.container{
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    background-color: antiquewhite;
    padding: 10px;
    flex-direction: column;
}
.container > h1{
    text-align: center;
    margin: 30px;
}
.container > form{
    display: flex;
    flex-direction: column;
}

input,textarea,button{
    
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    background-color: black;
    color: aqua;
}

